@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Spray+Paint&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DynaPuff&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lemon&display=swap");

* {
  @apply box-border;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
